In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField,StringType,IntegerType
from pyspark.sql.functions import col,split,to_timestamp,year,month
from pyspark.sql.types import IntegerType, FloatType

# EXTRACTING THE DATA

In [2]:
spark=SparkSession.builder.appName("practice1").getOrCreate()

24/03/17 05:16:27 WARN Utils: Your hostname, Manishas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 10.1.10.215 instead (on interface en0)
24/03/17 05:16:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.0.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
24/03/17 05:16:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
schema=StructType([
    StructField("Order ID",StringType(),True),
    StructField("Product",StringType(),True),
    StructField("Quantity Ordered",StringType(),True),
    StructField("Price Each",StringType(),True),
    StructField("Order Date",StringType(),True),
    StructField("Purchase Address",StringType(),True)
    
])

In [4]:
salesfile_path="./data/salesdata"
df=spark.read.format("csv").option("header",True).schema(schema).load(salesfile_path)

In [5]:
df.show(truncate=True)

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  295665|  Macbook Pro Laptop|               1|      1700|12/30/19 00:01|136 Church St, Ne...|
|  295666|  LG Washing Machine|               1|     600.0|12/29/19 07:03|562 2nd St, New Y...|
|  295667|USB-C Charging Cable|               1|     11.95|12/12/19 18:21|277 Main St, New ...|
|  295668|    27in FHD Monitor|               1|    149.99|12/22/19 15:13|410 6th St, San F...|
|  295669|USB-C Charging Cable|               1|     11.95|12/18/19 12:38|43 Hill St, Atlan...|
|  295670|AA Batteries (4-p...|               1|      3.84|12/31/19 22:58|200 Jefferson St,...|
|  295671|USB-C Charging Cable|               1|     11.95|12/16/19 15:10|928 12th St, Port...|
|  295672|USB-C Charging Cable|               2|     11.95|12/13/19 09:29|813 Hickory St, D...|
|  295673|Bose SoundSport H...|               1|     99.99|12/15/19 23:26|718 Wilson St, Da...|
|  295674|AAA Batteries (4-...|               4|      2.99|12/28/19 11:51|77 7th St, Dallas...|
|  295675|USB-C Charging Cable|               2|     11.95|12/13/19 13:52|594 1st St, San F...|
|  295676|     ThinkPad Laptop|               1|    999.99|12/28/19 17:19|410 Lincoln St, L...|
|  295677|AA Batteries (4-p...|               2|      3.84|12/20/19 19:19|866 Pine St, Bost...|
|  295678|AAA Batteries (4-...|               2|      2.99|12/06/19 09:38|187 Lincoln St, D...|
|  295679|USB-C Charging Cable|               1|     11.95|12/25/19 09:39|902 2nd St, Dalla...|
|  295680|Lightning Chargin...|               1|     14.95|12/01/19 14:30|338 Main St, Aust...|
|  295681|        Google Phone|               1|       600|12/25/19 12:37|79 Elm St, Boston...|
|  295681|USB-C Charging Cable|               1|     11.95|12/25/19 12:37|79 Elm St, Boston...|
|  295681|Bose SoundSport H...|               1|     99.99|12/25/19 12:37|79 Elm St, Boston...|
|  295681|    Wired Headphones|               1|     11.99|12/25/19 12:37|79 Elm St, Boston...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- Order ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: string (nullable = true)
 |-- Price Each: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)

# TRANSFORMING THE DATA

## Data preparation and cleansing

### Removing null rows and bad records

In [7]:
df.filter(col('Order ID').isNull()==True).show()

+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
+--------+-------+----------------+----------+----------+----------------+
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
|    null|   null|            null|      null|      null|            null|
+--------+-------+----------------+----------+----------+----------------+
only showing top 20 rows

In [8]:
df= df.na.drop("any")

In [9]:
df.filter(col('Order ID').isNull()==True).show()

+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
+--------+-------+----------------+----------+----------+----------------+
+--------+-------+----------------+----------+----------+----------------+

In [10]:
df.describe("Order ID","Product","Quantity Ordered","Price Each","Order Date","Purchase Address").show()

+-------+------------------+------------+-------------------+------------------+--------------+--------------------+
|summary|          Order ID|     Product|   Quantity Ordered|        Price Each|    Order Date|    Purchase Address|
+-------+------------------+------------+-------------------+------------------+--------------+--------------------+
|  count|            186305|      186305|             186305|            186305|        186305|              186305|
|   mean| 230417.5693788653|        null| 1.1243828986286637|184.39973476745283|          null|                null|
| stddev|51512.737109994916|        null|0.44279262402866904| 332.7313298843438|          null|                null|
|    min|            141234|20in Monitor|                  1|            109.99|01/01/19 03:07|1 11th St, Atlant...|
|    max|          Order ID|      iPhone|   Quantity Ordered|        Price Each|    Order Date|    Purchase Address|
+-------+------------------+------------+-------------------+------------------+--------------+--------------------+

In [11]:
df.filter(col("Order ID")=="Order ID").show()

+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
+--------+-------+----------------+----------+----------+----------------+
only showing top 20 rows

In [12]:
new_df=df.distinct()

In [13]:
new_df.filter(col("Order ID")=="Order ID").show()

+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
+--------+-------+----------------+----------+----------+----------------+

In [14]:
new_df= new_df.filter(col("Order ID") != "Order ID")

In [15]:
new_df.filter(col("Order ID")=="Order ID").show()

+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
+--------+-------+----------------+----------+----------+----------------+
+--------+-------+----------------+----------+----------+----------------+

In [16]:
new_df.describe("Order ID","Product","Quantity Ordered","Price Each","Order Date","Purchase Address").show(truncate=False)

+-------+------------------+------------+------------------+------------------+--------------+--------------------------------------+
|summary|Order ID          |Product     |Quantity Ordered  |Price Each        |Order Date    |Purchase Address                      |
+-------+------------------+------------+------------------+------------------+--------------+--------------------------------------+
|count  |185686            |185686      |185686            |185686            |185686        |185686                                |
|mean   |230411.37622653297|null        |1.1245435843305365|184.51925546352427|null          |null                                  |
|stddev |51511.71718332086 |null        |0.4430687383832874|332.8438383900525 |null          |null                                  |
|min    |141234            |20in Monitor|1                 |109.99            |01/01/19 03:07|1 11th St, Atlanta, GA 30301          |
|max    |319670            |iPhone      |9                 |999.99            |12/31/19 23:53|999 Wilson St, San Francisco, CA 94016|
+-------+------------------+------------+------------------+------------------+--------------+--------------------------------------+

### extract city and state from purchase address

In [17]:
new_df.select("Purchase Address",split(col("Purchase Address"),",")).show(10,truncate=False)

+----------------------------------------+--------------------------------------------+
|Purchase Address                        |split(Purchase Address, ,, -1)              |
+----------------------------------------+--------------------------------------------+
|283 Washington St, Boston, MA 02215     |[283 Washington St,  Boston,  MA 02215]     |
|968 8th St, Austin, TX 73301            |[968 8th St,  Austin,  TX 73301]            |
|857 Center St, Boston, MA 02215         |[857 Center St,  Boston,  MA 02215]         |
|679 Chestnut St, San Francisco, CA 94016|[679 Chestnut St,  San Francisco,  CA 94016]|
|58 Dogwood St, San Francisco, CA 94016  |[58 Dogwood St,  San Francisco,  CA 94016]  |
|355 Park St, Boston, MA 02215           |[355 Park St,  Boston,  MA 02215]           |
|542 9th St, New York City, NY 10001     |[542 9th St,  New York City,  NY 10001]     |
|708 Walnut St, New York City, NY 10001  |[708 Walnut St,  New York City,  NY 10001]  |
|538 Hickory St, San Francisco, CA 94016 |[538 Hickory St,  San Francisco,  CA 94016] |
|199 8th St, San Francisco, CA 94016     |[199 8th St,  San Francisco,  CA 94016]     |
+----------------------------------------+--------------------------------------------+
only showing top 10 rows

In [18]:
new_df.select("Purchase Address",split(col("Purchase Address"),",").getItem(1)).show(10,truncate=False)

+----------------------------------------+---------------------------------+
|Purchase Address                        |split(Purchase Address, ,, -1)[1]|
+----------------------------------------+---------------------------------+
|283 Washington St, Boston, MA 02215     | Boston                          |
|968 8th St, Austin, TX 73301            | Austin                          |
|857 Center St, Boston, MA 02215         | Boston                          |
|679 Chestnut St, San Francisco, CA 94016| San Francisco                   |
|58 Dogwood St, San Francisco, CA 94016  | San Francisco                   |
|355 Park St, Boston, MA 02215           | Boston                          |
|542 9th St, New York City, NY 10001     | New York City                   |
|708 Walnut St, New York City, NY 10001  | New York City                   |
|538 Hickory St, San Francisco, CA 94016 | San Francisco                   |
|199 8th St, San Francisco, CA 94016     | San Francisco                   |
+----------------------------------------+---------------------------------+
only showing top 10 rows

In [19]:
new_df.select("Purchase Address",split(col("Purchase Address"),",").getItem(2)).show(10,truncate=False)

+----------------------------------------+---------------------------------+
|Purchase Address                        |split(Purchase Address, ,, -1)[2]|
+----------------------------------------+---------------------------------+
|283 Washington St, Boston, MA 02215     | MA 02215                        |
|968 8th St, Austin, TX 73301            | TX 73301                        |
|857 Center St, Boston, MA 02215         | MA 02215                        |
|679 Chestnut St, San Francisco, CA 94016| CA 94016                        |
|58 Dogwood St, San Francisco, CA 94016  | CA 94016                        |
|355 Park St, Boston, MA 02215           | MA 02215                        |
|542 9th St, New York City, NY 10001     | NY 10001                        |
|708 Walnut St, New York City, NY 10001  | NY 10001                        |
|538 Hickory St, San Francisco, CA 94016 | CA 94016                        |
|199 8th St, San Francisco, CA 94016     | CA 94016                        |
+----------------------------------------+---------------------------------+
only showing top 10 rows

In [20]:
new_df.select("Purchase Address",split(split(col("Purchase Address"),",").getItem(2)," ").getItem(1)).show(10,truncate=False)

+----------------------------------------+--------------------------------------------------+
|Purchase Address                        |split(split(Purchase Address, ,, -1)[2],  , -1)[1]|
+----------------------------------------+--------------------------------------------------+
|283 Washington St, Boston, MA 02215     |MA                                                |
|968 8th St, Austin, TX 73301            |TX                                                |
|857 Center St, Boston, MA 02215         |MA                                                |
|679 Chestnut St, San Francisco, CA 94016|CA                                                |
|58 Dogwood St, San Francisco, CA 94016  |CA                                                |
|355 Park St, Boston, MA 02215           |MA                                                |
|542 9th St, New York City, NY 10001     |NY                                                |
|708 Walnut St, New York City, NY 10001  |NY                                                |
|538 Hickory St, San Francisco, CA 94016 |CA                                                |
|199 8th St, San Francisco, CA 94016     |CA                                                |
+----------------------------------------+--------------------------------------------------+
only showing top 10 rows

In [21]:
new_df=(new_df.withColumn("City",split(col("Purchase Address"),",").getItem(1))
       .withColumn("State",split(split(col("Purchase Address"),",").getItem(2)," ").getItem(1))
    )

In [22]:
new_df.show()

+--------+--------------------+----------------+----------+--------------+--------------------+--------------+-----+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|          City|State|
+--------+--------------------+----------------+----------+--------------+--------------------+--------------+-----+
|  295900|AA Batteries (4-p...|               1|      3.84|12/27/19 18:56|283 Washington St...|        Boston|   MA|
|  295923|Lightning Chargin...|               1|     14.95|12/21/19 13:41|968 8th St, Austi...|        Austin|   TX|
|  295991|Lightning Chargin...|               1|     14.95|12/15/19 20:16|857 Center St, Bo...|        Boston|   MA|
|  296076|  Macbook Pro Laptop|               1|      1700|12/03/19 15:19|679 Chestnut St, ...| San Francisco|   CA|
|  297015|AAA Batteries (4-...|               3|      2.99|12/13/19 08:43|58 Dogwood St, Sa...| San Francisco|   CA|
|  297237|Bose SoundSport H...|               1|     99.99|12/16/19 10:28|355 Park St, Bost...|        Boston|   MA|
|  297376|    27in FHD Monitor|               1|    149.99|12/03/19 11:38|542 9th St, New Y...| New York City|   NY|
|  297438|Lightning Chargin...|               1|     14.95|12/17/19 13:13|708 Walnut St, Ne...| New York City|   NY|
|  297541|AAA Batteries (4-...|               1|      2.99|12/20/19 10:24|538 Hickory St, S...| San Francisco|   CA|
|  297635|    Wired Headphones|               1|     11.99|12/06/19 09:50|199 8th St, San F...| San Francisco|   CA|
|  297715|USB-C Charging Cable|               1|     11.95|12/31/19 14:29|421 Johnson St, S...| San Francisco|   CA|
|  297842|Lightning Chargin...|               1|     14.95|12/17/19 16:36|634 10th St, San ...| San Francisco|   CA|
|  298034|       Flatscreen TV|               1|       300|12/25/19 10:10|407 5th St, Dalla...|        Dallas|   TX|
|  298348|    Wired Headphones|               1|     11.99|12/01/19 14:46|854 Cedar St, Los...|   Los Angeles|   CA|
|  298442|Lightning Chargin...|               2|     14.95|12/18/19 11:10|974 Maple St, New...| New York City|   NY|
|  298493|AA Batteries (4-p...|               1|      3.84|12/25/19 00:29|58 Dogwood St, Bo...|        Boston|   MA|
|  298580|    Wired Headphones|               1|     11.99|12/08/19 08:00|428 South St, Los...|   Los Angeles|   CA|
|  298726|AAA Batteries (4-...|               2|      2.99|12/04/19 13:21|592 Church St, Lo...|   Los Angeles|   CA|
|  298943|AAA Batteries (4-...|               1|      2.99|12/02/19 11:44|213 1st St, Bosto...|        Boston|   MA|
|  299788|    27in FHD Monitor|               1|    149.99|12/05/19 17:12|722 Lakeview St, ...| San Francisco|   CA|
+--------+--------------------+----------------+----------+--------------+--------------------+--------------+-----+
only showing top 20 rows

### Rename and change datatypes

In [23]:
new_df.printSchema()

root
 |-- Order ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: string (nullable = true)
 |-- Price Each: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)

In [24]:
new_df=(new_df.withColumn("orderid", col("Order ID").cast(IntegerType()))
       .withColumn("price", col("Price Each").cast(FloatType()))
       .withColumn("Quantity", col("Quantity Ordered").cast(IntegerType()))
       .withColumn("orderdate", to_timestamp(col("Order Date"),"MM/dd/yy HH:mm"))
       .withColumnRenamed("Purchase Address","storeaddress")
       .drop("Order ID")
       .drop("Price Each")
       .drop("Quantity Ordered")
       .drop("Order Date"))

In [25]:
new_df.printSchema()

root
 |-- Product: string (nullable = true)
 |-- storeaddress: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- orderid: integer (nullable = true)
 |-- price: float (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- orderdate: timestamp (nullable = true)

In [26]:
new_df.show()

+--------------------+--------------------+--------------+-----+-------+------+--------+-------------------+
|             Product|        storeaddress|          City|State|orderid| price|Quantity|          orderdate|
+--------------------+--------------------+--------------+-----+-------+------+--------+-------------------+
|AA Batteries (4-p...|283 Washington St...|        Boston|   MA| 295900|  3.84|       1|2019-12-27 18:56:00|
|Lightning Chargin...|968 8th St, Austi...|        Austin|   TX| 295923| 14.95|       1|2019-12-21 13:41:00|
|Lightning Chargin...|857 Center St, Bo...|        Boston|   MA| 295991| 14.95|       1|2019-12-15 20:16:00|
|  Macbook Pro Laptop|679 Chestnut St, ...| San Francisco|   CA| 296076|1700.0|       1|2019-12-03 15:19:00|
|AAA Batteries (4-...|58 Dogwood St, Sa...| San Francisco|   CA| 297015|  2.99|       3|2019-12-13 08:43:00|
|Bose SoundSport H...|355 Park St, Bost...|        Boston|   MA| 297237| 99.99|       1|2019-12-16 10:28:00|
|    27in FHD Monitor|542 9th St, New Y...| New York City|   NY| 297376|149.99|       1|2019-12-03 11:38:00|
|Lightning Chargin...|708 Walnut St, Ne...| New York City|   NY| 297438| 14.95|       1|2019-12-17 13:13:00|
|AAA Batteries (4-...|538 Hickory St, S...| San Francisco|   CA| 297541|  2.99|       1|2019-12-20 10:24:00|
|    Wired Headphones|199 8th St, San F...| San Francisco|   CA| 297635| 11.99|       1|2019-12-06 09:50:00|
|USB-C Charging Cable|421 Johnson St, S...| San Francisco|   CA| 297715| 11.95|       1|2019-12-31 14:29:00|
|Lightning Chargin...|634 10th St, San ...| San Francisco|   CA| 297842| 14.95|       1|2019-12-17 16:36:00|
|       Flatscreen TV|407 5th St, Dalla...|        Dallas|   TX| 298034| 300.0|       1|2019-12-25 10:10:00|
|    Wired Headphones|854 Cedar St, Los...|   Los Angeles|   CA| 298348| 11.99|       1|2019-12-01 14:46:00|
|Lightning Chargin...|974 Maple St, New...| New York City|   NY| 298442| 14.95|       2|2019-12-18 11:10:00|
|AA Batteries (4-p...|58 Dogwood St, Bo...|        Boston|   MA| 298493|  3.84|       1|2019-12-25 00:29:00|
|    Wired Headphones|428 South St, Los...|   Los Angeles|   CA| 298580| 11.99|       1|2019-12-08 08:00:00|
|AAA Batteries (4-...|592 Church St, Lo...|   Los Angeles|   CA| 298726|  2.99|       2|2019-12-04 13:21:00|
|AAA Batteries (4-...|213 1st St, Bosto...|        Boston|   MA| 298943|  2.99|       1|2019-12-02 11:44:00|
|    27in FHD Monitor|722 Lakeview St, ...| San Francisco|   CA| 299788|149.99|       1|2019-12-05 17:12:00|
+--------------------+--------------------+--------------+-----+-------+------+--------+-------------------+
only showing top 20 rows

### Adding columns: month, year

In [27]:
new_df=(new_df.withColumn("year", year(col("orderdate")))
               .withColumn("month",month(col("orderdate"))))

In [28]:
new_df.show()

+--------------------+--------------------+--------------+-----+-------+------+--------+-------------------+----+-----+
|             Product|        storeaddress|          City|State|orderid| price|Quantity|          orderdate|year|month|
+--------------------+--------------------+--------------+-----+-------+------+--------+-------------------+----+-----+
|AA Batteries (4-p...|283 Washington St...|        Boston|   MA| 295900|  3.84|       1|2019-12-27 18:56:00|2019|   12|
|Lightning Chargin...|968 8th St, Austi...|        Austin|   TX| 295923| 14.95|       1|2019-12-21 13:41:00|2019|   12|
|Lightning Chargin...|857 Center St, Bo...|        Boston|   MA| 295991| 14.95|       1|2019-12-15 20:16:00|2019|   12|
|  Macbook Pro Laptop|679 Chestnut St, ...| San Francisco|   CA| 296076|1700.0|       1|2019-12-03 15:19:00|2019|   12|
|AAA Batteries (4-...|58 Dogwood St, Sa...| San Francisco|   CA| 297015|  2.99|       3|2019-12-13 08:43:00|2019|   12|
|Bose SoundSport H...|355 Park St, Bost...|        Boston|   MA| 297237| 99.99|       1|2019-12-16 10:28:00|2019|   12|
|    27in FHD Monitor|542 9th St, New Y...| New York City|   NY| 297376|149.99|       1|2019-12-03 11:38:00|2019|   12|
|Lightning Chargin...|708 Walnut St, Ne...| New York City|   NY| 297438| 14.95|       1|2019-12-17 13:13:00|2019|   12|
|AAA Batteries (4-...|538 Hickory St, S...| San Francisco|   CA| 297541|  2.99|       1|2019-12-20 10:24:00|2019|   12|
|    Wired Headphones|199 8th St, San F...| San Francisco|   CA| 297635| 11.99|       1|2019-12-06 09:50:00|2019|   12|
|USB-C Charging Cable|421 Johnson St, S...| San Francisco|   CA| 297715| 11.95|       1|2019-12-31 14:29:00|2019|   12|
|Lightning Chargin...|634 10th St, San ...| San Francisco|   CA| 297842| 14.95|       1|2019-12-17 16:36:00|2019|   12|
|       Flatscreen TV|407 5th St, Dalla...|        Dallas|   TX| 298034| 300.0|       1|2019-12-25 10:10:00|2019|   12|
|    Wired Headphones|854 Cedar St, Los...|   Los Angeles|   CA| 298348| 11.99|       1|2019-12-01 14:46:00|2019|   12|
|Lightning Chargin...|974 Maple St, New...| New York City|   NY| 298442| 14.95|       2|2019-12-18 11:10:00|2019|   12|
|AA Batteries (4-p...|58 Dogwood St, Bo...|        Boston|   MA| 298493|  3.84|       1|2019-12-25 00:29:00|2019|   12|
|    Wired Headphones|428 South St, Los...|   Los Angeles|   CA| 298580| 11.99|       1|2019-12-08 08:00:00|2019|   12|
|AAA Batteries (4-...|592 Church St, Lo...|   Los Angeles|   CA| 298726|  2.99|       2|2019-12-04 13:21:00|2019|   12|
|AAA Batteries (4-...|213 1st St, Bosto...|        Boston|   MA| 298943|  2.99|       1|2019-12-02 11:44:00|2019|   12|
|    27in FHD Monitor|722 Lakeview St, ...| San Francisco|   CA| 299788|149.99|       1|2019-12-05 17:12:00|2019|   12|
+--------------------+--------------------+--------------+-----+-------+------+--------+-------------------+----+-----+
only showing top 20 rows

# LOADING THE DATA

### Writing the final dataframe to json

In [29]:
final_df=new_df.select("orderid","product","quantity","price","orderdate","storeaddress","city","state","year","month")
dfpath = './data/output1/sales'
final_df.write.format("json").mode("overwrite").partitionBy("year", "month").save(dfpath)